<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
    <!-- dao begin -->
    
    <bean id="fittingsDao" class="com.bluecreation.erp.productmgt.dao.FittingsDao" >
       <property name="sessionFactory"  ref="sessionFactory"/>
    </bean>
     <bean id="productDao" class="com.bluecreation.erp.productmgt.dao.ProductDao" >
       <property name="sessionFactory"  ref="sessionFactory"/>
    </bean>
     <bean id="productPartDao" class="com.bluecreation.erp.productmgt.dao.ProductPartDao" >
       <property name="sessionFactory"  ref="sessionFactory"/>
    </bean>
    
    <bean id="inventoryDao" class="com.bluecreation.erp.inventory.dao.InventoryDao" >
       <property name="sessionFactory"  ref="sessionFactory"/>
    </bean>
    <bean id="inventoryBillDao" class="com.bluecreation.erp.inventory.dao.InventoryBillDao" >
       <property name="sessionFactory"  ref="sessionFactory"/>
    </bean>
    <bean id="inventoryBillItemDao" class="com.bluecreation.erp.inventory.dao.InventoryBillItemDao" >
       <property name="sessionFactory"  ref="sessionFactory"/>
    </bean>
    <!-- dao end -->
    <bean id="contactDao" class="com.bluecreation.erp.contact.dao.ContactDao" >
       <property name="sessionFactory"  ref="sessionFactory"/>
    </bean>
    
  
</beans>
