<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
     
     
     <bean id="ManageBookingAction" class="com.nci.cp.core.web.action.DefaultStrutsAction" scope="request">
        <property name="markid"><value>data</value></property>
        <property name="beanid"><value>bookingService</value></property>
        <property name="serviceName"><value>findBookRecordsOfTodayVos</value></property>
        <property name="rtRS" value="true"/>
        <property name="scope" value="SCOPE_REQUEST"/>        
     </bean>
     
     <bean id="BookingAction" class="com.nci.cp.core.web.action.DefaultStrutsAction" scope="request">
        <property name="clzName"><value>com.nci.cp.booking.vo.BookRecordVo</value></property>
        <property name="markid"><value>data</value></property>
        <property name="beanid"><value>bookingService</value></property>
        <property name="serviceName"><value>createBookRecord</value></property> 
        <property name="input" value="true"/>           
     </bean> 
    
     <bean id="UpdateBookViewAction" class="com.nci.cp.core.web.action.DefaultStrutsAction" scope="request">
        <property name="clzName"><value>com.nci.cp.booking.vo.BookRecordVo</value></property>
        <property name="markid"><value>data</value></property>
        <property name="beanid"><value>bookingService</value></property>
        <property name="serviceName"><value>findBookRecordById</value></property>
        <property name="input" value="true"/>
        <property name="rtRS" value="true"/>
        <property name="scope" value="SCOPE_REQUEST"/>        
     </bean> 
      <bean id="UpdateBookAction" class="com.nci.cp.core.web.action.DefaultStrutsAction" scope="request">
        <property name="clzName"><value>com.nci.cp.booking.vo.BookRecordVo</value></property>
        <property name="markid"><value>data</value></property>
        <property name="beanid"><value>bookingService</value></property>
        <property name="serviceName"><value>updateBookRecord</value></property>
        <property name="input" value="true"/>      
     </bean>
     <bean id="DelBookAction" class="com.nci.cp.core.web.action.DefaultStrutsAction" scope="request">
        <property name="clzName"><value>com.nci.cp.booking.vo.BookRecordVo</value></property>
        <property name="markid"><value>data</value></property>
        <property name="beanid"><value>bookingService</value></property>
        <property name="serviceName"><value>deleteBookRecord</value></property>
        <property name="input" value="true"/>
     </bean>  
</beans>
