<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
    <bean id="ComponentParserLib" class="com.nci.cp.web.uicomponent.context.ComponentParserLib" scope="singleton">
     </bean>
     <bean id="uicontext" class="com.nci.cp.web.uicomponent.context.UIContext">
        <property name="icpLib" ref="ComponentParserLib" />
     </bean>
      <bean id="XmlResult" class="com.nci.cp.core.web.struts.dispatcher.XMLResultView" scope="singleton">
        <property name="uicontext" ref="uicontext" />
     </bean>
    
     <bean id="servicetest"  parent="txProxyTemplate">
        <property name="target">
            <bean class="com.nci.cp.teaminfo.info.service.ServiceTest">                
            </bean>
        </property>       
     </bean> 
</beans>
